@import 'bootstrap/dist/css/bootstrap.min.css';

.menu{
    color: white;
    text-decoration: none;
}

.active{
    color: red;
}

.cardPoke{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    align-items: center;
}
.titulo{
    margin-top: 20px;
}
.container{
    display: flex;
    flex-direction: row

}

.imgCard{
    height: 400px;
    width: 400px;
}

.btn{
    margin-bottom: 20px;
}